<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PetCare</name>
    <description>PetCare Cuidado de mascotas</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Configuración para viewport en dispositivos móviles -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#8B5CF6" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <!-- Viewport fit para notch -->
    <preference name="viewport" value="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <!-- Prevent zoom -->
    <preference name="DisallowOverscroll" value="true" />
</widget>
